spring:
  datasource:
    url: jdbc:h2:mem:guideaut
    driver-class-name: org.h2.Driver
    username: sa
    password: sa

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

jwt:
  secret: "j3EIdqonc2QCXV+yyhQ2ItzkhBw9hwx0BCYQegnNoPAu07ZjuVvslalBrzYMuK4Lenpp2+UcqbV1/kHUL1o4Ww=="
  access-minutes: 30
  refresh-days: 7
